*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-color: #000000;
    color: #66fcf1;
    padding-top: 4%;
    padding-left: 10%;
}
.container button{
    display: flex;
    align-items: center;
    height: 2.2rem;
    font-size: 1.2rem;
    cursor: pointer;
    border: 2px solid #45a29e;
    color: #45a29e;
    background-color: #000000;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin: 2rem 0 1rem;
}
.container button:hover{
    color: #66fcf1;
    box-shadow:  5px 8px rgb(102 252 241 / 15%)
}
.container h1{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
}
.container h1 img{
    width: 4.5rem;
}
.container button img{
    width: 1rem;
    margin-right: 0.8rem;
}
.input-box{
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 150px;
    background: #000000;
    color: #66fcf1;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #66fcf1;
    border-radius: 0.5rem;
}
.input-box img{
    position: absolute;
    cursor: pointer;
    width: 1.5rem;
    bottom: 1rem;
    right: 1rem;
}
.input-box p{
    color: white;
}

@media only screen and (max-width: 992px){
    .container{
        padding-left: 0%;
    }
    .half{
        padding-left: 10%;
    }
}
